<?xml version="1.0" encoding="UTF-8"?>
<interface>
  <requires lib="gtk" version="4.0"/>
  <object class="GtkApplicationWindow" id="window">
    <property name="title" translatable="yes">Better Desktop Experience</property>
    <property name="default-width">575</property>
    <property name="default-height">260</property>
    <child>
      <object class="GtkBox">
        <property name="orientation">vertical</property>
        <child>
          <object class="GtkBox">
            <child>
              <object class="GtkBox" id="container">
                <property name="halign">center</property>
                <property name="valign">center</property>
                <property name="hexpand">1</property>
                <property name="vexpand">1</property>
                <property name="orientation">vertical</property>
                <property name="spacing">9</property>
                <child>
                  <object class="GtkButton" id="but1">
                    <property name="label" translatable="yes">Better Theme</property>
                    <property name="focusable">1</property>
                    <property name="receives-default">1</property>
                  </object>
                </child>
                <child>
                  <object class="GtkButton" id="but2">
                    <property name="label" translatable="yes">Install Extensions</property>
                    <property name="focusable">1</property>
                    <property name="receives-default">1</property>
                  </object>
                </child>
                <child>
                  <object class="GtkLabel">
                    <property name="label" translatable="yes">now logout, open this app again, and click the button below :)</property>
                  </object>
                </child>
                <child>
                  <object class="GtkButton" id="but3">
                    <property name="label" translatable="yes">Apply Extensions Configs</property>
                    <property name="focusable">1</property>
                    <property name="receives-default">1</property>
                  </object>
                </child>
              </object>
            </child>
            <child>
              <object class="GtkBox">
                <property name="hexpand">1</property>
                <property name="orientation">vertical</property>
                <child>
                  <object class="GtkLabel" id="text">
                    <property name="hexpand">1</property>
                    <property name="vexpand">1</property>
                    <property name="label" translatable="yes">You need:
gnome-shell
gnome-menus*
wget
                    </property>
                    <property name="use-markup">1</property>
                  </object>
                </child>
              </object>
            </child>
          </object>
        </child>
        <child>
          <object class="GtkLabel" id="credits">
            <property name="hexpand">1</property>
            <property name="label" translatable="yes">
              By Dimitar "Whimfoome" Dimitrov
            </property>
            <property name="use-markup">1</property>
          </object>
        </child>
      </object>
    </child>
  </object>
</interface>